@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a asp-controller="Api" asp-action="CreateInstructionXml"> Create Instruction (Xml)</a></li>
            <li><a asp-controller="Api" asp-action="CreateInstructionJson">Create Instuction (Json)</a></li>
            <li><a asp-controller="Api" asp-action="GetEstimateXml">Get Estimate (Xml)</a></li>
            <li><a asp-controller="Api" asp-action="GetEstimateJson">Get Estimate (Json)</a></li>
            <li><a asp-controller="Api" asp-action="GetEstimateAndInvoiceXml">Get Estimate And Invoice (Xml)</a></li>
            <li><a asp-controller="Api" asp-action="GetEstimateAndInvoiceJson">Get Estimate And Invoice (Json)</a></li>
            <li><a asp-controller="Api" asp-action="GetInvoiceXml">Get Invoice (Xml)</a></li>
            <li><a asp-controller="Api" asp-action="GetInvoiceJson">Get Invoice (Json)</a></li>
        </ul>
    </div>
</div>
